body {
}

gitlab-pipeline h2, gitlab-pipeline h3, gitlab-pipeline h4 {
    z-index: 2;
    padding: 1px 0;
    margin: 0;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
}
gitlab-pipeline h2 {

    padding: 4px 0;
    font-weight: bold;
}
gitlab-pipeline.widget .header {
    text-align: left;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

/*gitlab-pipeline.widget .header::first-letter {
    font-size: 1.2em;
}*/

gitlab-pipeline .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}

gitlab-pipeline .content div:last-child {
    margin-top: 30px;
}
gitlab-pipeline .content div h4 {
    z-index: 1;
}
gitlab-pipeline .content .avatar
{
    z-index: 0;
    position: absolute;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    bottom: 0px;
    right: 0;
}
gitlab-pipeline .content .avatar i
{
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

gitlab-pipeline .blink {
  animation: blinker 1s linear infinite;
}
gitlab-pipeline .error md-icon{
    color: rgba(255, 0, 0, 0.60);
    /*text-shadow: 0px 0px 3px #FFFFFF;*/
}

gitlab-pipeline.widget .align-center .content .play-status {
    text-align: center;
    width: auto !important;
}
gitlab-pipeline.widget .align-center .content .play-status md-icon {
    width: auto !important;
}

gitlab-pipeline.widget .align-center .header {
    text-indent: 0 !important;
    text-align: center !important;
}

@keyframes blinker {  
  50% { opacity: 0; }
}