<md-button title="Configure" class="configure-widget md-icon-button md-mini" ng-show="editable" ng-click="ctrl.config()">
    <md-icon>settings</md-icon>
</md-button>
<div>
    <div class="header">{{data.title}}</div>
    <div class="content" flex>
        <md-icon class="unknown" ng-show="!ctrl.latest">help</md-icon>
        <div class="env-row" ng-repeat="e0 in ctrl.environments | filter: ctrl.filterAutomaticAfterReleaseOrManual">
            <div class="envcontainer" style="width: {{ctrl.envcontainer.width}}">
                <div class="env" style="height: {{ctrl.env.height}}">
                    <header>{{e0.name}}</header>
                </div>
            </div>
            <div class="envcontainer" style="width: {{ctrl.envcontainer.width}}" ng-repeat="e1 in ctrl.environments | filter: ctrl.filterSubSequentEnvironments(e0.name)">
                <div class="env" style="height: {{ctrl.env.height}}">
                    <header>{{e1.name}}</header>
                </div>
            </div>
        </div>
    </div>
    <!--
        <md-icon>help_outline</md-icon>
        <md-icon>play_circle_outline</md-icon>
        <md-icon>pause_circle_outline</md-icon>
        <md-icon>error_outline</md-icon>
        -->
</div>
