tfs-build h2, tfs-build h3, tfs-build h4 {
    padding: 1px 0;
    margin: 0;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;

    text-shadow: 1px 1px 1px #000000;
}
tfs-build h2 {
    padding: 4px 0;
    font-weight: bold;
}
tfs-build.widget .header {
    text-align: left;
    font-weight: bold;
}
tfs-build .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}

tfs-build .content div:last-child {
    margin-top: 30px;
}

tfs-build .content div h4 {
    z-index: 1;
}

tfs-build .content .avatar
{
    z-index: 0;
    position: absolute;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
}
tfs-build .content .avatar i
{
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}



tfs-build .blink {
  animation: blinker 1s linear infinite;
}

tfs-build .error md-icon {
    color: rgba(255, 0, 0, 0.60);
    /*text-shadow: 0px 0px 3px #FFFFFF;*/
}

tfs-build.widget .align-center .content .play-status {
    text-align: center;
    width: auto !important;
}
tfs-build.widget .align-center .content .play-status md-icon {
    width: auto !important;
}

tfs-build.widget .align-center .header {
    text-indent: 0 !important;
    text-align: center !important;
}


@-moz-keyframes blinker {  
  50% { opacity: 0; }
}

@-webkit-keyframes blinker {  
  50% { opacity: 0; }
}

@keyframes blinker {  
  50% { opacity: 0; }
}