html {
    margin: 0; padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0; padding: 0;
    -ms-content-zooming: none;
    touch-action: none;
    /*background-color: #000000;*/
    /*color: #FFFFFF;*/
}


@-ms-viewport {
  width: device-width;
}

span {
    font-style: italic;
}

@media (max-width: 699px) {
  .hidden-xs {
    display: none;
  }
}

md-nav-bar 
{
    position: absolute;
    width: 100%;
    top: -44px;
    z-index: 999;
    background-color: #121212;


    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out; 
    -o-transition: top 0.5s ease-out; 
    transition: top 0.5s ease-out;
}

md-nav-bar:hover{
    top: 0;
}
.grid {
  background-color: #000000;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
}
.wg-preview-row {
    border-top: 1px dotted rgba(103, 103, 103, 0.40);
    border-bottom: 1px dotted rgba(103, 103, 103, 0.4);
}
.wg-preview-column {
    border-left: 1px dotted rgba(103, 103, 103, 0.4);
    border-right: 1px dotted rgba(103, 103, 103, 0.4);
}

.grid .remove-widget {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 30;
}

.grid .configure-widget {
    position: absolute;
    right: 22px;
    top: -5px;
    z-index: 30;
}

.grid-dimensions {
  position: absolute;
  bottom: 0;
  z-index: 15;
  
  background-color: rgba(0, 0, 0, 0.4);
  color: #e0e0e0;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
}

@media (max-width: 699px) {
  .hidden-xs {
    display: none;
  }
}
.padder{
    padding: 5px;
    box-sizing: border-box;
}
.widget{ 
    box-sizing: border-box;
    margin: 0; padding: 0;
    position: relative; width: 100%; height: 100%;
    display: block;
}

.transparent {
    background: transparent;
}
.semi-transp {
    background: rgba(250, 250, 250, 0.03);
}
.red {
    background: #F44336;
}
.turkoise {
    background: #49bbb2;
}
.green {
    background: #95c049;
}
.deep-green {
    background: #1B5E20;
}
.purple {
    background: #9c4274;
}
.pink {
    background: #E91E63;
}
.blue {
    background: #2196F3;
}
.amber {
    background: #FFC107;
}
.orange {
    background: #FF5722;
}
.brown {
    background: #795548;
}
.grey {
    background: #9E9E9E;
}
.widget .header{
    color: #fff;
    background: rgba(0,0,0,.18);
    text-align:center;
    font-weight: normal;
    padding: 5px 0;
}

.widget .footer{
    position: absolute;
    text-align:center;
    font-weight: normal;

    left: 0; bottom: 0;
    width: 100%;
    padding: 3px 0;
}

.center 
{
    text-align: center;
}

.hint a:visited,.hint a:link,.hint a:active
.hint a{
    color: #FFFFFF;
    font-size: 13px;
}

/* Didnt find a way to change this using md-theme */
.md-input-focused .md-input {
    border-color: rgb(255,171,64) !important;
}
md-select:not([disabled]):focus .md-select-value,
.md-select:focus {
    border-bottom-color: rgb(255,171,64) !important;
}

.md-input-focused label {
    color: rgb(255,171,64) !important;
}



  .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
   md-content._md {
    max-height: 240px; }