<md-dialog aria-label="Adicionar Widget">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Widget</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list>
                <md-subheader class="md-no-sticky">Select a widget to add to dashboard</md-subheader>
                <md-list-item ng-repeat="item in ctrl.widgets"
                              class="md-3-line" ng-click="ctrl.select(item.type)">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{item.title}}</h4>
                        <p>{{item.desc}}</p>
                    </div>
                    <!--<md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>-->
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>